/* .calendar {
    width: 417px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .calender-width{
    
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .header button {
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } */
  
  /* .event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10
  } */

  .calender{
   
  width: 327px;
  /* min-height: auto; */

  }

  .live-session{
    top: 22rem;
  }

  .peer-learning{
    top: 27rem;
  }

  .add-event-div{
    top: 32rem;
  }