#overlay{
   margin-left:137px; 
}

.width{
    width: 700px;
}

#notes{
    width:500px;
}


#progressbar{
    width:500px;
}


#overlay2{
    margin-left:132px; 
 }

 #plus{
    margin-left:370px;
 }