
.dashboard-body-container{
    /* width:60%;   
    height:300vh;
    z-index: inherit;
    position: absolute; */
    top: 12%;
    left: 0%;
    bottom: 20%;
    background-color: #fbfbfb;
}


/* relative   list-item w-3/4 min-w-max h-auto border-l bg-transparent border-slate-300 font-poppins  */

.community-chat1{
  
    width: 450px;
    height: auto;
    
}
.announce-1{
    width: 417px;
    height: 90px;
}

.announce-list{
    width: 417px;
    height: 195px;
}

.announce-line{
    width: 417px;
}

.announce-input {
    width: 352px;
}

/* calender */
