button{
  margin-left:50px;
  border: 1px solid green;
  height: 60px;
  width: 141px;
  margin:50px 60px 20px 50px;
  border: 0.6px solid #F64F59;
  border-radius: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #F64F59;
  transition-duration: 0.4s;
}
 button:hover {
  background-color: #F64F59;
  color: white; 
}
ul{
  box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.11);
}

  /* .nav-div {background-color: #fff4f4;
    border: 1px solid green;
    height: 18vh;
    box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.11);
    position: sticky;
  }
  .nav-list {
    display: flex;
    
  }
  .citron-logo {
    
    height: 4.4rem;
    width: 4.4rem;
    top: 0;
    left: 0;
    margin: 46px 0px 13px 31px;
  }
  h1{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin: 60px 0px 28px 0px;
  }
  li{
      font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin:70px 0px 33px 0px;
  }
  .about{
    margin-left:65px;
  }
  .contact{
    margin-left:65px;
  }
  .account{
    margin-left:25rem;
  } */
  
  /* className={' ml-12 h-14 w-36 mt-12 mr-14 mb-5 ml-12 border-orange-500 border-2 rounded-2xl leading-6 font-medium text-orange-500 text-base hover:bg-red-400 ...'} */
  /* -limitation hover text color and font weight */