.assignment{
    padding-left:17.3% ;
    padding-top: 5.6%;
    display: flex;
    flex-direction: column;

}
.breadcrumbs{
    font-size: 14px;
    height: 67px;
    width: 767px;
    align-content: center;
    align-items: center;
    padding: 40px 40px 0px 40px;
    /* border: 1px solid green;; */
}
.spanB{
    color:#F64F59;
    font-size: 14px;
}
.all{
    display: flex;
    flex-direction: row;
}
.body{
    display: flex;
    flex-direction: column;;
    width: 726px;
    /* border: 1px solid green; */
    padding: 20px 40px ;
    gap: 10px;
    
}
.body h2{
    font-weight: 600;
    font-size: 20px;
}
.body h3{
    font-weight: 500;
    font-size: 18px;
}
.body h4{
    width: 532px;
}
.body span {
    font-size: 14px;

}

.spanC {
    color:#F64F59;
}
.search{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 515px;
    border: 0.6px solid #8E8E8E;
    height: 161px;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    background-color: #FBFBFB;
}
.attachSection{
    display: flex;
    width: 515px;

    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid green;; */

}
.file{
    display: flex;
    flex-direction: row;
    text-align: center;
    /* border: 1px solid green;; */
    gap:10px;
    align-items: center;

    height: 60px;
}
.file p{
    font-size: 14px;
}
.attach{
    width: 18px;
    height: 17px;
}
.assignment button{
    /* margin-left:50px; */
    height: 60px;
    width: 141px;
    border: 0.6px solid #F64F59;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #F64F59;
    transition-duration: 0.4s;
  }
  .assignment button:hover {
    background-color: #F64F59;
    color: white; 
  }
  /* ................................................................Side */
  .side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 423px;
    height: 994px;
  /* border: 1px solid red; */
    padding: 40px 0px 0px 41px;
    /* background: #FBFBFB; */
    border-left: 0.6px solid #D2D2D2;
}
.side img{
    width: 321px;
    height: 90px;
}
.imgB{
    width: 326px;
    height: 68px;
}
.side h2{
    font-weight: 600;
    font-size: 18px;
}
.side h3{
    font-weight: 500;
    font-size: 12px;
}
.side p{
  /* font-weight: 400; */
font-size: 12px;
width: 326px;
/* height: 72px; */
}
 