.modalBackground{
   
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(200, 200, 200); */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.modalContainer{
    width: 494px;
    height: 267px;
    margin-right: 5%;
    margin-bottom:9% ;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 50px 25px;
}
.modalButtons{
    display: flex;
    flex-direction: row;
}
.modalContainer h2{
    font-weight: 500;
font-size: 18px;
white-space: nowrap;


}
.modalButtons{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 100px;
justify-content: center;

}
.cancel{
 
        /* margin-left:50px; */
        height: 60px;
        width: 141px;
        border: 0.6px solid #F64F59;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 500;
        padding: 10px;
        align-items: center;
        display: flex;
        flex-direction: row;
    justify-content: center;
    gap: 15px;


      
}
.cancel img{
    height: 14px;
    width: 14px;
    color: #F64F59;
 
    /* border: 1px solid red; */

}
.submit{
    height: 60px;
    width: 141px;
    border: 0.6px solid #F64F59;
    background-color: #F64F59;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
justify-content: center;
gap: 15px;
border: 1px solid red;
}
.submit img{
    height: 14px;
    width: 14px;
    color: #F64F59;
}